.board-link {
	width: 250px;
	padding: 30px;
	border-radius: 5px;
	box-shadow: 1px 1px 4px $queen;

	@at-root &_highlighted {
		background-color: $apple;
	}

	@at-root &_simple {
		background-color: $alpine;
		// color: $black-queen;
	}

	@at-root &_clickable {
		cursor: pointer;
	}

	@at-root &__title {
		text-align: center;
		margin: 0;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;

		@at-root &_highlighted {
			color: $alpine;
			text-shadow: 1px 1px 3px $queen;
		}

		@at-root &_crown {
			margin: 0 -30px;
			padding: 0 30px 10px;
			border-bottom: 1px solid $alpine;
		}
	}

	&__form {
		margin-top: 25px;
	}
}
