.button {
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0;
	transition: box-shadow 0.05s linear 0.05s;

	&:focus,
	&:hover {
		outline: none;
		box-shadow: 0 0 0 2px $flower;
	}

	@at-root &_rect {
		padding: 7px 12px;
		max-width: 100px;
		min-width: 70px;
		border: none;
		border-radius: 2px;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}

	@at-root &_simple {
		background-color: $alpine;
		box-shadow: 1px 1px 4px $queen;
	}

	@at-root &_light {
		background-color: $apple;
		color: $alpine;
		text-shadow: 1px 1px 3px $queen;
	}
}
