.form {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
	position: relative;

	@at-root &__control {
		border: none;
		width: 100%;
		background-color: $alpine;
		box-shadow: 1px 1px 4px $queen;
		border-radius: 2px;
		padding: 10px;

		&:focus {
			box-shadow: 1px 1px 4px $queen, 0 0 0 2px $flower;
			outline: none;
		}
	}

	@at-root &__error {
		position: relative;
		background-color: $alpine;
		color: $black-queen;
		margin: 10px 0 0 10px;
		padding: 10px;
		box-shadow: 0 0 3px 1px $alarm;
		border-radius: 2px;

		&:before {
			content: "";
			display: block;
			position: absolute;
			top: -5px;
			transform: rotate(45deg);
			background-color: $alpine;
			width: 10px;
			height: 10px;
			left: 20px;
			box-shadow: 0 0 3px 1px $alarm;
		}

		&:after {
			content: "";
			display: block;
			position: absolute;
			top: 0px;
			background-color: $alpine;
			width: 20px;
			left: 15px;
			height: 12px;
		}
	}

	@at-root &__button {
		margin-top: 25px;

		&:not(:last-child) {
			margin-right: 10px;
		}
	}
}
